
.login-sec{
    padding-bottom: 10vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.1vw;
    color: #5228F5;
    letter-spacing:0.2vw;
    font-weight: 900;
    background-color: white;
}

.login-sec-left{
    
    padding: 8vw 0vw 5vw 10vw;
    
}
.login-sec-right{
    padding-top: 3vw;
}

.login-sec-right-image{
    width: 40vw;
}

.login-sec-left-para{
    padding: 2vw 3vw 0vw 0vw;
    font-family: 'Caveat', cursive;
    letter-spacing:0vw;
    font-size: 2vw;
    color: black;
}

.create-button{
    padding: 0.7vw 4vw;
    border-radius: 100px;
    color: white;
    background-color: black;
    font-family: 'Caveat', cursive;
    font-weight: 800;
    font-size: 1.5vw;
    border: none;
    margin-left: 9vw;
    margin-top: 2vw;
}

.create-button:hover{
    background-color: white;
    border: 3px solid #5228F5;
    color: black;
    cursor: pointer;
    font-weight: 900;
}
